<section id="content-receipt" class="clearfix">
	<div id="receipt-container">
		<div class="dotmatrix left"></div>
		<div id="receipt-content">
			<h4 id="receipt-title">Eeste es el prototipo de Educación en Línea.</h4>
			
			<div id="receipt-details" class="row clearfix">
				<div class="col-sm-12 receipt-left">
					<p><span class="font-weight-light">Lo voy a usar para enviar un mensaje. Esta es su misión y oportunidad si decide aceptarla.</span></p>
				</div>				
			</div>

			<div id="receipt-details" class="row clearfix">
				<div class="col-sm-8 receipt-left">
					<p><strong class="font-weight-heavy"><%= @product.title %></strong><br/> <span class="font-weight-light"><%= @product.subtitle %></span></p>
				</div>				
			</div>
			<div class="video">
			<iframe src="https://player.vimeo.com/video/121558293" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div> 
			<footer id="receipt-footer">
						<small>"Edu Real" La educación que necesitan las start up's, pequeña y mediana empresa.!</small>
			</footer>
			<div class="video">
			<iframe src="//player.vimeo.com/video/100357654" width="500" height="228" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div> 

			<footer id="receipt-footer">
				<small>"Edu Real" La educación que necesitan las start up's, pequeña y mediana empresa.!</small>
				<div class="col-sm-12 receipt-left">
					<p><strong class="font-weight-heavy">Solo en Estados Unidos hay 27 Millones de Pequeños Negocios. </strong><br/> <span class="font-weight-light"><a href="http://www.getbusymedia.com/small-business-stats/" target="_blank">Fuente/Mercado USA</a> Qué pasa si vamos por el 1% de ese mercado? Serian 27,000 empresas solo en Estados Unidos. Si cada compañía paga 150 dólares por cada curso. El ingreso anual seria de 150USDX27,000X1=4,050,000USD. Ese sería el ingreso de un solo curso. Qué pasa si nuestro el lanzamiento es de tres SUPERCURSOS bien salvajes, prácticos y de alto impacto para las empresas? Acá la oportunidad podría ser de 12 Millones de dólares. Qué pasa si hacemos un plan para atraer talento para aumentar el portafolio de cursos, de tal manera que compartimos las utilidades del curso con la persona que lo da, de esta forma podemos medir el éxito y calidad de estos. Si aumentamos el portafolio a 12 cursos estaríamos acercándonos a 48Millones de dólares. Si ahora tenemos en cuenta el Mercado Latinoamericano y los otros países diferentes a Estados unidos donde hablan Inglés. La cifra anterior se puede multiplicar varias veces…</span></p>
					<p><strong>Recursos Para Desarrollar el Contenido</strong></p>
            <ul class="no-indent">
                <li><a href="http://atomisystems.com/activepresenter/" target="_blank">ActivePresenter,</a>este es para grabar su pantalla, editar video, sonido, es muy bueno, ya lo he usado con exito.</li>
                <li>Con su computador y lo del punto anterior, es lo unico que necesitamos para llegarle a miles/millones de personas.</li>
                <li>Probablemente en algunas ocasiones salgamos en video, para darnos a conocer y dando la introducción de cada curso, para romper la monotonía y generar recordación.</li> 
                <li>Con un programa, contenido y previa organización, hacer el montaje de todo un curso se puede hacer en un solo día, un curso que pude llegar a facturar más de 4 Millones USD. </li>                  
            </ul> 
            
            <p><strong>Que le hace falta a este prototipo? Para llevarlo al siguiente nivel</strong></p>
            <ul class="no-indent">
                <li>Despues de hacer el pago, mostrar un menú del contenido  de cada curso.</li>
                <li>Una vez se tenga este menú, el cliente hace click y va a cada tema.</li>
                <li>En cada tema el cliente va a poder ver el video y con sus apuntes respectivos.</li> 
                <li>Y para finalizar crear la autenticacion de usuarios, para que cada cliente tenga todas sucompras/cursos centralizados. </li>                  
            </ul> 
            <p><strong>Procesos para crear los cursos</strong></p>
            <ul class="no-indent">
                <li>Identificar un curso que no esté en el mercado, universidades, especializaciones y maestrías.</li>
                <li>Que tenga aplicabilidad a las empresas en un entorno global, en corto tiempo.</li>
                <li>En la primera fase, montar los primeros cursos (3 a cinco cursos).</li> 
                <li>En una segunda fase, entrevistar y encontrar los mejores profesores que existan. Crear un programa para esta fase. </li>
                <li>Crear un currículo de las habilidades, resultados y herramientas que queremos que los estudiantes alcancen.</li>
                <li>Identificar los proyectos que se puedan desarrollar en 4 semanas.</li>
                <li>Diseño, libreto y filmación del contenido de cada clase.</li>
                <li>Mientras desarrollamos la clase, nos debemos preguntar: que podemos hacer diferente? Como podemos innovar, movernos ágilmente y mejorar? Cuál será la próxima era de crear una excelente clase o curso?</li>                  
            </ul> 
				</div>	
			</footer>
		</div>
		<div class="dotmatrix right"></div>
	</div>
	<div id="receipt-shadow"></div>
</section>

