<section id="content-receipt" class="clearfix">
	<div id="receipt-container">
		<div class="dotmatrix left"></div>
		<div id="receipt-content">
			<h4 id="receipt-title">Camilo, este es el prototipo de Educación en Línea. Lo voy a usar para enviarle un mensaje. Esta es su misión y oportunidad si decide aceptarla</h4>
				
			<div id="receipt-details" class="row clearfix">
				<div class="col-sm-8 receipt-left">
					<p><strong class="font-weight-heavy"><%= @product.title %></strong><br/> <span class="font-weight-light"><%= @product.subtitle %></span></p>
				</div>				
			</div>
			<div class="video">
			<iframe src="//player.vimeo.com/video/100357654" width="500" height="228" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div> 
			<footer id="receipt-footer">
				<small>"Edu Real" La educación que necesitan las start up's, pequeña y mediana empresa.!</small>
				<div class="col-sm-12 receipt-left">
					<p><strong class="font-weight-heavy">Solo en Estados Unidos hay 27 Millones de Pequeños Negocios. </strong><br/> <span class="font-weight-light"><a href="http://www.getbusymedia.com/small-business-stats/" target="_blank">Fuente/Mercado USA</a> Qué pasa si vamos por el 1% de ese mercado? Serian 27,000 empresas solo en Estados Unidos. Si cada compañía paga 150 dólares por cada curso. El ingreso anual seria de 150USDX27,000X1=4,050,000USA. Ese sería el ingreso de un solo curso. Qué pasa si nuestro el lanzamiento es de tres SUPERCURSOS bien salvajes, prácticos y de alto impacto para las empresas? Acá la oportunidad podría ser de 12 Millones de dólares. Qué pasa si hacemos un plan para atraer talento para aumentar el portafolio de cursos, de tal manera que compartimos las utilidades del curso con la persona que lo da, de esta forma podemos medir el éxito y calidad de estos. Si aumentamos el portafolio a 12 cursos estaríamos acercándonos a 48Millones de dólares. Si ahora tenemos en cuenta el Mercado Latinoamericano y los otros países diferentes a Estados unidos donde hablan Inglés. La cifra anterior se puede multiplicar varias veces…</span></p>
				</div>	
			</footer>
		</div>
		<div class="dotmatrix right"></div>
	</div>
	<div id="receipt-shadow"></div>
</section>

